<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="icon" href="/images/weather.png" />
  </head>

  <body>
    {{>header}}
  </body>
</html>
